.character-box{
    height: auto;
    width: 100%;
}
.character-box>.container{
    height: auto;
    width: 100%;
    margin-top: 12vh;
}
.container>.title{
    height: auto;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.container>.searchBar{
    height: auto;
    width: 40%;
    margin: 0 30%;
    text-align: center;
}
.container>.button{
    height: auto;
    width: 8%;
    margin: 1.5vh 46% 0 46%;
    text-align: center;
    color: black;   
}
.character-container{
    height: 40vh;
    width: 740px;
    margin: 2vh auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2vh;
}
.character-container>div{
    height: 100%;
    width: 360px;
    justify-self: center;
}
#character-display{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
#character-info{
    text-align: left;
    font-size: 1.6rem;
}
#character-info>p{
    margin-left: 7px;
    margin-top: 4px;
}
@media screen and (max-width: 1160px) {
    .character-container{
        height: 35vh;
        width: 80%;
        grid-column-gap: 1vh;
    }
    .character-container>div{
        width: 300px;
    }
}
@media screen and (max-width: 800px) {
    .character-container{
        height: 25vh;
        width: 80%;
    }
    .character-container>div{
        width: 200px;
    }
}